<%- include('../partials/header.ejs') %>
<script src="/public/js/form.js"></script>
<div class="ncontainer">
  <div class="card">
    <h3>Update Course</h3>
    <form
      method="post"
      enctype="multipart/form-data"
      class="form"
      onsubmit="return onSubmit(event)"
    >
      <!-- csrf -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <!-- title -->
      <div class="form-group">
        <label for="title">*Title:</label>
        <input
          type="text"
          name="title"
          id="title"
          value="<%= course.title %>"
          required
        />
      </div>
      <!-- price -->
      <div class="form-group">
        <label for="price">*Price:</label>
        <input
          type="number"
          name="price"
          id="price"
          value="<%= course.price %>"
          required
        />
      </div>
      <!-- image -->
      <div class="form-group">
        <label for="image">Cover Photo:</label>
        <input type="file" name="image" id="image" />
      </div>
      <!-- description -->
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="10">
<%= course.description %></textarea
        >
      </div>
      <% if (error) { %>
      <p class="form-error"><%= error %></p>
      <% } %>
      <input type="submit" value="Update Course" class="btn" />
    </form>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
