<%- include('../partials/adminHeader.ejs') %>

<div class="ncontainer" style="margin-top: 2em">
  <h3>Registered Teachers</h3>
  <hr />
  <br />
  <div class="card-list">
    <% courses.forEach(course => { %>
    <a href="/admin/course/<%= course.id %>">
      <div
        class="card"
        style="
          margin: 2em 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <h3><%= course.name %></h3>
          <div style="margin-bottom: 0.5em"><h5>(<%= course.code %>)</h5></div>
          <div>By <%= course.instructorName %></div>
          <div><%= course.level %> Course</div>
          <div>
            <%= course.certification ? 'Certificate Available' : `Certificate
            Not Available` %>
          </div>
        </div>
        <div>
          <div><%= course.credit %> credits</div>
          <div><%= course.duration %> weeks</div>
        </div>
      </div>
    </a>
    <% }) %>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
